<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Student Manager System</display-name>
  <!-- These files will be loaded after program run -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  Error handle pages -->
  <error-page>
	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
  <error-page>
	<error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
  	<description>Verification Code</description>
  	<servlet-name>CaptchaServlet</servlet-name>
  	<servlet-class>com.ischoolbar.programmer.servlet.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CaptchaServlet</servlet-name>
  	<url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
</web-app>